<%=content_for :title, "Welcome"%>
<!--<h1>Pages#welcome</h1>-->
<!--<p>Find me in app/views/pages/welcome.html.erb</p>-->
<br/><br/><br/><br/>
<div class='well welcome'>
    <br/><br/><br/><br/>
    <h2 class="welcome_header">Keep Learning</h2>
    <p class='welcome_text'>Learning Machine is the easiest way to learn new vocabulary terms. Whether you are studying SAT words, Spanish vocabulary, Learning Machine is the perfect tool for you. </p>
</div>



