<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>

Date.today: <%=Date.today%><br/>
Time.zone.now.to_date: <%=Time.zone.now.to_date%>

<p>When `a != 0`, there are two solutions to `ax^2 + bx + c = 0` and
they are</p>
<p style="text-align:center">
  `x = (-b +- sqrt(b^2-4ac))/(2a) .`
</p>

