/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*#header h1{*/
/*    margin:0px;*/
/*}*/

body{
    margin:0;
    /*background-color: #f4f2f2;*/
    /*background-color: #e5e5e8;*/
    
    /*background: image-url('MixerNoSends.png');*/
    /*background-image: url('MixerNoSends.png');*/
    background-image: url('bg4.jpg');
    /*/LearningMachine_04_24_17/app/assets/images/bg4.jpg*/
    
}

/*hr {*/
/*height: 1px;*/
/*color: #123455;*/
/*background-color: grey;*/
/*border: none;*/
/*}*/
.well{
    /*background-color: #efeff2;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

#question{
    font-size: 30px;
    text-align: center;
    /*visibility: hidden;*/
    display:none;
    height: 80px;
    line-height: 80px;
    /*border: 2px solid black;*/

}
.level_buttons{
    text-align:center;
    text-decoration: none;
    /*color: white;*/
    
}

.choice_buttons{
    text-align:center;
    text-decoration: none;
    color: white;
    
}

/*a:visited{*/
/*  color:white;*/
/*}*/

a, a:visited, a:hover, a:active {
  color: inherit;
}

.count{
    font-size:20px;
}

.questionDiv {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

/*.banner a{*/
    
/*    font-family: Kumar One*/
/*}*/

/*.btn{*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    margin:0 auto;*/
/*}*/

/*.well{*/
    /*width: 320px;*/
/*    border: 1px solid green;*/
/*}*/

.answersDiv{
    width: 320px;
    text-align: center;
}

.italic_text{
     font-style: italic;
}

