/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*#header h1{*/
/*    margin:0px;*/
/*}*/

body{
    margin:0;
}

#question{
    font-size: 40px;
    text-align: center;
    /*visibility: hidden;*/
    display:none;
    height: 80px;
    line-height: 80px;
    /*border: 2px solid black;*/

}
.level_buttons{
    text-align:center;
    text-decoration: none;
    /*color: white;*/
    
}

.choice_buttons{
    text-align:center;
    text-decoration: none;
    color: white;
    
}

/*a:visited{*/
/*  color:white;*/
/*}*/

a, a:visited, a:hover, a:active {
  color: inherit;
}

.count{
    font-size:40px;
}

.questionDiv {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

/*.banner a{*/
    
/*    font-family: Kumar One*/
/*}*/